.booking-card {
  display: flex;
  width: calc(100% - 40px);
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 20px;
}

.booking-card-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.booking-card-info-and-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-info, .bottom-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.card-title {
  font-weight:700;
}

.card-title, .card-text {
  margin-top: 0;
  margin-bottom: 0;
}

.house-photo {
  width: 20%;
  height: auto;
  border-radius: 10px 0px 0px 10px;
}

.cancel-button {
  background-color: #13505B;
  padding: 20px 40px;
  border-radius: 10px;
  border: 0px solid #FFFFFF;
  filter: drop-shadow(2px 2px 1px #000000DD);
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
  margin-right: 1.5em;
  align-self: center;
  background-size: 200% auto;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background-image: linear-gradient(to right, #13505B 0%, #10abc7 50%, #13505B 100%);
  transition: 0.5s;
  text-transform: uppercase;
}

.cancel-button:hover {
  background-position: right center;
}

@media screen and (min-device-width: 501px) and (max-device-width: 800px) {
  .booking-card-details {
    flex-direction: column;
  }

  .house-photo {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
  }

  .booking-card-info-and-button-container {
    display: flex;
    flex-direction: column;
  }

  .top-info, .bottom-info {
    margin-bottom: 0em;
  }

  .cancel-button {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

@media screen and (min-device-width: 1px) and (max-device-width: 500px) {
  .booking-card {
    flex-direction: column;
  }

  .booking-card-info-and-button-container {
    display: flex;
    flex-direction: column;
  }

  .top-info, .bottom-info {
    margin-bottom: 0em;
  }

  .house-photo {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
  }

  .cancel-button {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}