.result-card {
  display: flex;
  width: calc(100% - 40px);
  background-color: #ffffff;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0px 0px 15px rgba(50, 50, 93, 1);
}

.house-photo {
  width: 20%;
  height: 200px;
  object-fit: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 10px 0px 0px 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-room-button,
.more-details-button {
  width: 200px;
  padding: 15px 40px;
  border-radius: 5px;
  border: 0px solid #ffffff;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  margin: 20px;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #13505b 0%,
    #5ee7ff 50%,
    #13505b 100%
  );
  transition: 0.5s;
  text-transform: uppercase;
}

.more-details-button {
  background-image: linear-gradient(
    to right,
    #3b3b3b 0%,
    #9c9c9c 50%,
    #3b3b3b 100%
  );
}

.book-room-button:hover,
.more-details-button:hover {
  background-position: right center;
}

@media screen and (min-device-width: 501px) and (max-device-width: 800px) {
  .house-photo {
    width: 100%;
    height: 500px;
    border-radius: 10px 0px 0px 10px;
  }

  .book-room-button,
  .more-details-button {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .book-room-button {
    margin-top: 0em;
    margin-bottom: 1.5em;
  }
}

@media screen and (min-device-width: 1px) and (max-device-width: 500px) {
  .result-card {
    flex-direction: column;
  }

  .house-photo {
    width: 100%;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
  }

  .book-room-button,
  .more-details-button {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .book-room-button {
    margin-top: 0em;
    margin-bottom: 1.5em;
  }
  .button-container {
    align-items: center;
  }
}
