.error-container {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  padding: 0px 50px; 
  align-items: center;
}

.error-gif {
  width: 80%;
}

@media screen and (min-device-width: 1px) and (max-device-width: 800px) {
  .error-container {
    max-height: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  padding: 0 50px;
  
  }
}